body
{
	text-align: center;
    background-color: #861657;
background-image: linear-gradient(326deg, #861657 0%, #ffa69e 74%);

}
span
{
	font-size: 18px;
	color:aliceblue;
    font-weight: bold;
}
canvas
{
	background: aliceblue;
	border-radius: 20px;
    
}